/* Global */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

/* Top */
.top-image {
  text-align: center;
  padding-top: 20px;
}

.top-image img {
  max-width: 300px;
  height: auto;
}

/* Center */
.center-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image img {
  max-width: 500px;
  height: auto;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;                 
  padding: 20px;
  background: black;
}

footer a {
  text-decoration: none;
  color: inherit;
  line-height: 0;
  display: inline-flex;
}

footer a img {
  display: block
  width: 30px;
  height: 30px;
  margin: 0;
  transition: transform .2s;
}

footer a:hover img {
  transform: scale(1.2);
}

footer a:focus-visible {
  outline: 2px solid #c11a1a;
  outline-offset: 4px;
}

